body{
    /* overflow: hidden; */
    overscroll-behavior-y: none; /* Disabling Pull Down To Refresh*/
    background-color: #FFFF00;
    color: black;
}

#draw{
  font-size: 34px;
  font-family: 'Raleway', sans-serif;
}

#sketchcontainer{
    width: 100%;
    margin-right: auto;
}

.line1{
  /*
  display: flex;
  align-items: center;
  justify-content: center;
  */
  font-size: 38px;
  font-family: 'Raleway', sans-serif;;
  margin-bottom: 10px;
}

.line2{
  /*
  display: flex;
  align-items: center;
  justify-content: center;
  */
  font-size: 38px;
  font-family: 'Raleway', sans-serif;;
}

.line3{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.sliderClass{
  -webkit-appearance : none;
  height: 13px;
  width: 50%;
  cursor: pointer;
  border-radius: 20px;
  outline: none;
  background: #d3d3d3;
  margin-left: 20px;
}

.sliderClass::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}
  
.sliderClass::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.undo{
  -webkit-appearance:none;
  border-radius: 5px;
  background-color: #ff0000;
  color: #FFFFFF;
  font-size: 34px;
  font-family: 'Raleway', sans-serif;
  margin-left: 20px;
}

.clear{
  -webkit-appearance: none;
  margin-left: 20px;
  border-radius: 5px;
  background-color: #ff0000;
  color: #FFFFFF;
  font-size: 34px;
  font-family: 'Raleway', sans-serif;
}

/* Color Selector Button Style : */
.ColorButtons{
  -webkit-appearance: none;
  margin-right: 20px;
  width: 50px;
  height: 40px;
  border-radius: 15%;
  border-color: black;
  border-style: solid;
}

/* Eraser And Brush Setters Style */
.eraserSettingsClass{
  margin-left: 10px;
  margin-right: 10px;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 5px;
  background-color: deeppink;
  color: white;
  font-size: 38px;
  font-family: 'Raleway', sans-serif;;
}

.brushSettingsClass{
  margin-right: 10px;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 5px;
  background-color: deeppink;
  color: white;
  font-size: 38px;
  font-family: 'Raleway', sans-serif;;
}

/* Submission Button Style */
.submitButtonClass{
  border-radius: 3px;
  -webkit-appearance: none;
  appearance: none;
  font-size: 38px;
  font-family: 'Raleway', sans-serif;;
  background-color: rgb(38, 180, 44);
  color: white;
  margin-right: 10px;
  font-style: oblique;
}

/* View Submissions Button Style */
.viewSubmissionsButtonClass{
  border-radius: 3px;
  -webkit-appearance: none;
  appearance: none;
  font-size: 38px;
  font-family: 'Raleway', sans-serif;;
  background-color: rgb(38, 180, 44);
  color: white;
  font-style: oblique;
}